h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
section, body, html, main {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}